@model List<Iglesia_Página_Web.Models.Noticia>
<link rel="stylesheet" type="text/css" href="~/css/cardIndex.css">
@if (Model != null)
{
	<section class="pt-5 pb-5">
		<div class="container">
			<h2 class="text-center">Iglesia CDC</h2>
			<hr class="midline">
			<h5 class="text-center mb-5">Iglesia Casa de Dios Coronado</h5>
			<div class="card col-md-12 mt-2">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
                        @{
                            var isFirstItem = true;
                        }

                        @foreach (var noticia in Model)
                        {
                            <div class="carousel-item @(isFirstItem ? "active" : "")">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-sm-9 col-8">
                                                    <h2>@noticia.Titulo <span>@noticia.FechaPublicacion.ToString("yyyy-MM-dd")</span></h2>
                                                    <small>@noticia.Contenido</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            isFirstItem = false; 
                        }

					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="bi bi-chevron-compact-left"></i></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"><i class="bi bi-chevron-compact-right"></i></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</section>
    @if (User.IsInRole ("Admin"))
    {
        <div class="container text-center">
            <div class="col-12">
                <a asp-controller="Noticias" asp-action="NoticiaCrear" class="btn btn-primary btn-slide hover-slide-right mt-4">
                    <span>Añadir evento</span>
                </a>
            </div>
            <div class="col-12">
                <a asp-controller="Noticias" asp-action="NoticiaList" class="btn btn-primary btn-slide hover-slide-right mt-4">
                    <span>Editar eventos</span>
                </a>
            </div>
        </div>
    }
}
else
{
	<section class="pt-5 pb-5">
		<div class="container">
			<h2 class="text-center">Sin eventos</h2>
			<hr class="midline">
			<h5 class="text-center mb-5">Our team created best opportunities for your business.</h5>
		</div>
	</section>
}


<section id="quote" class="padding-small">
    <div class="container text-center">
        <h3 class="display-6 fw-semibold mb-4">Solicitud</h3>
        <form class="contact-form row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <input type="text" name="name" placeholder="Nombre*" class="form-control w-100 ps-3 py-2 rounded-0"
                       required>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <input type="email" name="email" placeholder="Correo*" class="form-control w-100 ps-3 py-2 rounded-0" required>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <input type="text" name="phone" placeholder="Telefono*" class="form-control w-100 ps-3 py-2 rounded-0" required>
            </div>
            <div class="col-md-12 col-sm-12 mb-4">
                <textarea class="form-control w-100 ps-3 py-2 rounded-0" rows="6" type="text" name="message"
                          placeholder="Mensaje"></textarea>
            </div>
            <div class="col-12">
                <a href="index.html" class="btn btn-primary btn-slide hover-slide-right mt-4">
                    <span>Enviar</span>
                </a>
            </div>
        </form>
    </div>
</section>