@{

    ViewData["Title"] = "Games";
}




<head>
    <link rel="stylesheet" href="~/css/GamesGallery.css" />
</head>
<body class="bodyGames">
    <div class="gallery">
        <a href="~/UnityGames/Cardgame/index.html"><img src="~/Imagenes/ArcaNoe.jpg" alt="Image 1"></a>
        <a href="link2.html"><img src="image2.jpg" alt="Image 2"></a>
        <a href="link3.html"><img src="image3.jpg" alt="Image 3"></a>
        <a href="link4.html"><img src="image4.jpg" alt="Image 4"></a>
        <a href="link5.html"><img src="image5.jpg" alt="Image 5"></a>
        <a href="link6.html"><img src="image6.jpg" alt="Image 6"></a>
    </div>
</body>



