@{

    ViewData["Title"] = "Games";
}


<div class="text-center mt-3 mb-3">
    <h1>Juegos</h1>
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Profesor"))
{
    <div class="text-center mb-3">
        <a asp-controller="Games" asp-action="Preguntas" class="btn btn-primary btn-slide hover-slide-right mt-4">
            <span>Editar preguntas</span>
        </a>
    </div>


}
<div class="bodyGames">
    <div class="gallery">
        <a href="~/UnityGames/DavidGame/index.html"><img src="~/Imagenes/DavidGoliath.jpg" alt="Image 2"></a>
        <a href="~/UnityGames/Cardgame/index.html"><img src="~/Imagenes/ArcaNoe.jpg" alt="Image 1"></a>
        <a href="~/UnityGames/Babelgame/index.html"><img src="~/Imagenes/TorreBabel.jpg" alt="Image 3"></a>
        <a asp-action="TriviaIndex" asp-controller="Games"><img src="~/Imagenes/trivia.jpg" alt="Image 4"></a>
    </div>

</div>


 



