@{

    ViewData["Title"] = "Games";
}



<div class="bodyGames">
    <div class="gallery">
        <a href=""><img src="~/Imagenes/DavidGoliath.jpg" alt="Image 2"></a>
        <a href="~/UnityGames/Cardgame/index.html"><img src="~/Imagenes/ArcaNoe.jpg" alt="Image 1"></a>
        <a href="~/UnityGames/Babelgame/index.html"><img src="~/Imagenes/TorreBabel.jpg" alt="Image 3"></a>
        <a href="link4.html"><img src="image4.jpg" alt="Image 4"></a>
        <a href="link5.html"><img src="image5.jpg" alt="Image 5"></a>
        <a href="link6.html"><img src="image6.jpg" alt="Image 6"></a>
    </div>
</div>
 



