
<body class="Tbody">
    <div class="Tcontainer">
        <h1 class="Th1">¡Felicitaciones!</h1>
        <p>Has completado la trivia bíblica. ¡Gracias por participar!</p>
        <div class="respuestas">
            <a href="/Games/Reiniciar" class="opcion" style="background-color: #4CAF50;">Reintentar</a>
            <a href="/" class="opcion" style="background-color: #f44336;">Salir</a>
        </div>
    </div>
</body>

