@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_LayoutNoAccess.cshtml";
}

<h2>Cambiar contraseña</h2>



@{
    var usuarioID = User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value;
    int userID;
    if (int.TryParse(usuarioID, out userID))
    {
        ViewData["UserID"] = userID;
    }
    else
    {
        ViewData["UserID"] = "No disponible";
    }
}
<form asp-action="ChangePassword" method="post" id="ChangePassword">
    <div class="form-group">
        <input name="ID" class="form-control" type="hidden" value="@userID"/>
    </div>
    <div class="form-group">
        <label for="Password">Contraseña</label>
        <input type="password" name="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirmar contraseña</label>
        <input type="password" name="ConfirmPassword" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="text-danger">@ViewBag.ErrorMessage</div>
    }
</form>
<script>
    document.getElementById('ChangePassword').addEventListener('submit', function (event) {
        event.preventDefault();

        Swal.fire({
            title: '¿Estás seguro?',
            text: "Cambiar contraseña",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {

                event.target.submit();
            }
        });
    });
</script>