@model Iglesia_Página_Web.Models.User
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>



<form asp-action="RecoverPassword" method="post" id="Recover">

    <div class="form-group">
        <label asp-for="CorreoElectrónico">Correo electrónico</label>
        <input asp-for="CorreoElectrónico" class="form-control" type="email" required />
        <span asp-validation-for="CorreoElectrónico" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar correo para recuperar acceso</button>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="text-danger">@ViewBag.ErrorMessage</div>
    }


</form>

