@model Iglesia_Página_Web.Models.User
@{
    ViewData["Title"] = "Login";
}
<div class="container_user_recover">
    <h2>Recuperar contraseña</h2>



    <form asp-action="RecoverPassword" method="post" id="Recover">

        <div class="form-group">
            <input asp-for="CorreoElectrónico" class="form-control" type="email" placeholder="Correo electrónico" required />
            <span asp-validation-for="CorreoElectrónico" class="text-danger"></span>
        </div>

        <button class="btn btn-primary btn-slide hover-slide-right mt-4" type="submit"><span>Enviar correo para recuperar acceso</span></button>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">@ViewBag.ErrorMessage</div>
        }


    </form>

</div>

