@model Iglesia_Página_Web.Models.PreguntaTrivia

<body>
    <div class="mt-2 mb-2">
        <a asp-controller="Games" asp-action="Preguntas" class="btn btn-secondary">Volver a la lista</a>
    </div>
    <div class="container">
        <h1>Editar Pregunta</h1>
        <div>
            <form asp-action="EditarPreguntas">
                <div class="form-group">
                    <input asp-for="Id" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="Pregunta" class="control-label">Pregunta</label>
                    <input asp-for="Pregunta" class="form-control" required />
                    <span asp-validation-for="Pregunta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RespuestaCorrecta" class="control-label">Respuesta Correcta</label>
                    <input asp-for="RespuestaCorrecta" class="form-control" required />
                    <span asp-validation-for="RespuestaCorrecta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RespuestaIncorrecta1" class="control-label">Respuesta Incorrecta 1</label>
                    <input asp-for="RespuestaIncorrecta1" class="form-control" required />
                    <span asp-validation-for="RespuestaIncorrecta1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RespuestaIncorrecta2" class="control-label">Respuesta Incorrecta 2</label>
                    <input asp-for="RespuestaIncorrecta2" class="form-control" required />
                    <span asp-validation-for="RespuestaIncorrecta2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RespuestaIncorrecta3" class="control-label">Respuesta Incorrecta 3</label>
                    <input asp-for="RespuestaIncorrecta3" class="form-control" required />
                    <span asp-validation-for="RespuestaIncorrecta3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nivel" class="control-label">Nivel</label>
                    <select asp-for="Nivel" class="form-control">
                        <option value="Basico">Basico</option>
                        <option value="Medio">Medio</option>
                        <option value="Dificil">Dificil</option>
                    </select>
                    <span asp-validation-for="Nivel" class="text-danger"></span>
                </div>
                <div class="text-center form-group mt-3 mb-3">
                    <input type="submit" value="Editar" class="btn btn-success" />
                </div>
            </form>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-center mt-2 mb-2">
                <div class="text-danger">@ViewBag.ErrorMessage</div>
            </div>
        }
    </div>
</body>
